/*
Source - https://stackoverflow.com/a
Posted by Michael Coker
Retrieved 2025-11-15, License - CC BY-SA 3.0
*/

* {margin:0;padding:0;box-sizing:border-box;}
body {
  background: #222;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 1em;
  font-size: 2em;
  padding: .5em 0;
}

ul {
  display: inline-block;
}

li {
  list-style: none;
  border-bottom: .5em solid turquoise;
  padding: 0 0 .25em 1em;
  margin: 0 0 .25em;
}